### VisualStudioCode template
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### Jetbrains

# IntelliJ project files
.idea
*.iml
out
gen

### Others
node_modules/
build/
5hell/
.env
scratches